/* * {
  max-width: 1080px;
  padding: 0 4%;
  text-align: center;
} */

.wrapper{
  max-width: 960px;
  margin: 0 auto ;
  padding: 0 4%;
  text-align: center;
  /* height: 60px; */
}

header {
  /* background-color: rgb(10, 7, 14); */
  display:flex;
  justify-content:space-between;
  align-items: center;
  /* margin: 0 auto; */
}

.header-logo {
  /* background-color: black; */
  color:aliceblue;
  width: 120px;
  line-height: 10px;
  /* padding: 10px 0; */
}

img {
  max-width: 100%;
  line-height: 32px;
}

.header-list ul {
  list-style: none;
  display:flex;
  /* margin: 0;
  padding: 0; */
}

nav li {
  /* background-color: darkgoldenrod; */
  margin-left: 30px;
  text-align: center;
  line-height: 48px;
}

.mainvisual{
  background-color: darkgreen;
  margin-bottom: 80px;
}

.mainvisual img{
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

h2 {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

#about {
  margin: 0 auto 100px auto;
}

#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

#about .text {
  text-align: left;
}

/* #bicycle h2 {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
} */

#bicycle {
  margin: 0 auto 100px auto;
}

#bicycle ul {
  display: flex;
  justify-content:space-between;
  list-style: none;
}

#bicycle li {
  width: 32%;
}

footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  #bicycle ul {
    flex-direction: column;
  }
  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}